<div class="all-btns">
    <button class="pk-btn">Pk Button</button>
  <button class="pk-btn pk-btn--primary">Primary</button>

  <button class="pk-btn pk-btn--success">Success</button>

  <button class="pk-btn pk-btn--danger">Danger</button>

  <button class="pk-btn">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
      <path d="M16 8a8 8 0 1 1-16 0 8 8 0 0 1 16 0zM7 11l5-3-5-3v6z"/>
    </svg>
    Play
  </button>

  <button class="pk-btn">
    <img src="assets/img/download.png" alt="GitHub">
    GitHub
  </button>
</div>