<div class="sidebar">
  <div class="search">
    <input placeholder="Search components…" class="pk-input w-100"/>
  </div>
  <h3>Getting started</h3>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span class="bullet"></span> Introduction
      </a>
    </li>
  </ul>

  <h3>Components</h3>
  <ul>
    <li>
        <a class="nav-link" routerLink="/components/buttons" routerLinkActive="active">Buttons</a>
    </li>
     <li>
        <a class="nav-link" routerLink="/components/dropdowns" routerLinkActive="active">Dropdowns</a>
    </li>
      <li>
        <a class="nav-link" routerLink="/components/selects" routerLinkActive="active">Selects</a>
    </li>
     <li>
        <a class="nav-link" routerLink="/components/forms" routerLinkActive="active">Forms</a>
    </li>
  </ul>
  </div>