  <form>
    <div class="pk-input-group">
      <label>Your Name</label>
      <input type="text" placeholder="Enter name" class="w-100">
      <div class="error">*Name is required</div>
    </div>

    <div class="pk-input-group">
      <label>Your Address</label>
      <textarea type="text" placeholder="Enter address" class="w-100"></textarea>
      <div class="error">*Address is required</div>
    </div>

    <select class="pk-select w-100">
      <option>Default</option>
      <option>Default</option>
      <option>Default</option>
      <option>Default</option>
    </select>
  </form>